<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div><img src="img/logo-mercado-liebre.svg" alt=""></div>
        <div>
            <form action="">
                <input type="text">
                <button>buscar</button>
            </form>
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <a type="disc">
                <a href=""><li>Ofertas</li></a>
                <a href=""><li>Tiendas Oficiales</li></a>
                <a href=""><li>Vender</li></a>
                <a href=""><li>Ayuda</li></a>
            </ul>
            <a type="disc">
                <a href=""><li>Creá tu cuenta</li></a>
                <a href=""><li>Ingresar</li></a>
                <a href=""><li>Mis Compras</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img title="cafetera-moulinex" width="250" src="img/img-cafetera-moulinex.jpg" alt="cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img title="MacBook-Pro" width="250" src="img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img title="samsung-galaxy" width="250" src="img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img title="smart-tv" width="250" src="img/img-tv-samsung-smart.jpg" alt="smart tv">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>      
        </section>
        <section>
            <h2>Sección de ofertas</h2>
            <article>
                <img title="cafetera-moulinex" width="250" src="img/img-cafetera-moulinex.jpg" alt="cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img title="MacBook-Pro" width="250" src="img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img title="samsung-galaxy" width="250" src="img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img title="smart-tv" width="250" src="img/img-tv-samsung-smart.jpg" alt="smart tv">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
    </section>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>