.home__header {
    background-color: var(--ColorAmarillo);
}

.home__header__logo img {
    margin: 25px 0 10px 30px;
}

.home__header__buscador {
    margin-left: 20px;
}

.home__header__buscador button {
    display: block;
    margin-left: 15px 0 0 15px;
    width: 20px;
    height: 18px;
    font-size: 15px;
    text-align: right; 
}

.home__header__buscador__button--hand {
    text-align: center;
}

.home__header p {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    
}

.home__header__menu ul li {
    margin-left: -35px;
    font-size: 12px;
}

.burger-menu {
    text-align: center;
}

.burger-menu button {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    background: var(--ColorCeleste);
    margin-bottom: 20px
}

/* HOME MAIN */
.home__main h2 {
    font-size: 24px;
}

.home__main__section__visita {
    background-color: var(--ColorGrisClaro);
}

.home__main__section__visita__article {
    text-align: center;
}

.home__main__section__visita__article__precio {
    font-size: 18px;
}

.home__main__section__visita__article__descuento {
    font-size: 16px;
}

.home__main__section__oferta {
    background-color: var(--ColorGrisClaro);
}

.home__main__section__oferta__article {
    text-align: center;
}

.home__main__section__oferta__article__precio {
    font-size: 18px;
}

.home__main__section__oferta__article__descuento {
    font-size: 16px;
}

/* HOME FOOTER */
.home__main__footer {
    text-align: center;
    font-size: 12px;
    color: var(--ColorGrisOscuro);
    margin-top: 50px;
}

.home__main__footer i {
    font-size: 30px;
    color: var(--ColorCeleste);
}

.home__main__footer h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.home__main__footer p {
    margin-top: 0px;
    margin-bottom: 35px;
}
